allure-*
*.jsbundle
*.tsbuildinfo
.DS_Store
.history
.jest
.vscode
.idea
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
allure-results
__coverage__
lerna-debug.log*
.env*
!.env.dist
react-app-env.d.ts
*.hprof
.jscpd
report
.gradle
*.keystore
*.jsx
*.d.ts
*.jsx.map
*.js.map
dist
junit.xml
logs.txt
