{
    "packages/**/*.{ts,tsx}": [
        "pnpm exec eslint --fix",
        "pnpm exec prettier --write"
    ],
    "*.{md, json}": [
        "pnpm exec prettier --write"
    ],
    'package.json': ['pnpm exec sort-package-json']
}
