name: pull-request
on: [ pull_request ]

env:
    TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    TURBO_REMOTE_ONLY: true

jobs:
    build-lint-and-test:
        name: Build, lint and test
        timeout-minutes: 15
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4
                with:
                    fetch-depth: 2

            -   uses: actions/setup-node@v3
                with:
                    node-version: '18'
                    cache: 'yarn'

            -   name: Install dependencies
                run: yarn

            -   name: Build packages
                run: yarn build

            -   name: Typescript checks
                run: yarn ts

            -   name: ESLint checks
                run: yarn lint

            -   name: Find dead code
                run: yarn turbo run find-deadcode

            -   name: Find copy-paste
                run: yarn turbo run cpd

            -   name: Unit tests
                run: yarn test:coverage

            -   name: Upload coverage to Codecov
                uses: codecov/codecov-action@v3
                with:
                    token: ${{ secrets.CODECOV_TOKEN }}
                    fail_ci_if_error: true
                    verbose: true

