name: Release and publish to NPM
on:
  push:
    branches:
      - master

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

jobs:
  release:
    name: Publish a release
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{secrets.GH_PAT_TOKEN}}

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'

      - name: Setup Git user
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_TOKEN }}
        run: |
          git config user.name "Vitalii Yehorov"
          git config user.email "vitalyiegorov@gmail.com"
          git remote rm origin
          git remote add origin https://vitalyiegorov:${GITHUB_TOKEN}@github.com/rnw-community/rnw-community.git

      - name: Install dependencies
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: true
        run: yarn

      - name: Build packages
        run: yarn build

      - name: Publish a release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
          yarn release
